
.aside {
    position: fixed;
    height: 768px;
    padding: 0 23px;
    background-color: #303956;
}

.main {
    margin-left: 17%;
}

.header {
    position: fixed;
    width: 83%;
    z-index: 2;
}

.after__header {
    margin-top: 69px;
    margin-left: 17%;
}

.menu__item, h5, h6, .svg {
    margin: 0;
    color: #48526B !important;
    transition: all .2s linear;
    fill: #48526B !important;
}

.menu__item {
    margin-left: 12px;
}

.menu__item:hover, .hov:hover .svg {
    color: #fff !important;
    fill: #fff !important;
}

.search {
    background-color:  #b9b9b9;
    border: 0;
}

.menu__text {
    border-bottom: 1px solid;
}

.burger {
    padding: 4px 10px !important;
    padding-bottom: 8px !important;
    border-radius: 5px;
    cursor: pointer;
}

.burger:hover .burger__svg {
    fill: #fff;
}

.burger:hover {
    background-color: #303956;
}

.nav-link {
    font-size: 14px;
    font-weight: 700;
    color:#BFBFBF !important;

} 
 
.nav-link:hover {
    color: #303956 !important ;
}

.nav-link__active {
    color: #303956 !important ;
}

.avtoriz {
    color: #303956 !important;
    padding: 5px 10px !important;
    border: 1px solid !important;
    border-radius: 5px;
}

.avtoriz:hover {
    color: #fff !important;
    background-color: #303956;
}
