
.aside {
    width: 17%;
    position: fixed;
    height: 100%;
    left: 0;
    padding: 0 20px;
    z-index: 3001;
    background-color: #303956;
    overflow: hidden;
    transition: all .2s linear;
}



.menu__item, h5, h6, .svg {
    margin: 0;
    color:#02A4FE;
    transition: all .2s linear;
    fill: #02A4FE;
}

.menu__item {
    margin-left: 12px;
}

.hov:hover .svg,
.hov:hover a {
    color: #fff !important;
    fill: #fff !important;
}

.search {
    background-color: #02A4FE;
    border: 0;
}

.menu__text {
    border-bottom: 1px solid;
}

.contAside {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 3000;
    width: 83%;
    height: 100%;
    right: 0;
    top: 0;
}


