.forum-answer-img{
    border-radius: 50%;
}
.forum-answer-btn{
    padding: 2px;
    padding-left: 7px;
    border: none;
    border-radius: 5px;
    margin-right: 2px !important;
}
.forum-answer-btn:focus{
    outline: none;
}
.forum-answer-btn:hover{
    color: white !important;
    background-color: #989BF7 !important;
}

.tox .tox-notification--error {
    display: none !important;
}


@media (max-width: 1150px) {
    .forum-answer-aside, .forum-answer-rside {
        max-width: 100% !important;
        text-align: center;
        flex: 0 0 100% !important;
    }
    .forum-answer-rside-description {
        text-align: left;
        margin: 0;
    }
}