 .block__h1, .block__h2,
 .block__input, .block__label
 {
  border: 0;
  outline: none;
}

label {
  margin: 0 !important;
}

button:focus {
  border: 0;
  box-shadow: none !important;
}

.block__h1, .block__h2, .block__h4, .block__h2 {
  font-weight: 650;
  color: #02A4FE !important;
}

.col__f {
  color: #fff !important;
}

.block__p {
  color: #48526b !important
}

.block__a {
  color: #fff !important;
  transition: all .2s linear;
}

.block__a:hover {
  text-decoration: none !important;
}

.header{
  padding-top: 20px;
  background: url(../../img/lecture2.jpg), #303956;
  background-blend-mode: soft-light;
}

.round {
  border-radius: 10px !important;
}

.red {
  color: #FF7700;
}

.green {
  color: #02A4FE;
}

.green__back {
  background-color: #02A4FE;
}

.my-6 {
  margin: 6rem 0;
}

.navbar-toggler {
  background-color:#182752 !important;
  border:1px solid #fff !important;
}

.navbar-toggler-icon {
  color: #fff !important;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.head {
  padding: .8px 0;
  background-color: #182752;
}

.nav-link {
  transition: all .2s linear;
}

.text-white:hover {
  color: #FE4C1C !important;
}

.head_up {
  margin: 10px 0;
  margin-right: 10px;
  padding: 0 !important;
  padding-left: 6px !important;
}

.head_up:last-child {
  padding-left: 10px !important;
  border-left: 1px solid white;
}

.nav__down {
  margin: 0 10px;
  padding: 16px 4px !important;
  border-bottom: 3px solid #182752;
}

.nav__down:hover {
  border-bottom: 3px solid #FE4C1C;
}

.search {
  font-size: 25px !important;
}

.butn {
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #FE4C1C;
  border: 0 !important;
  outline: none !important;
  background: #02A4FE;
}

.butn:hover {
  color: #02A4FE !important;
}

.butn:focus, .btn:focus {
  box-shadow: none !important;
}

/* After Header */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aside {
  width: 45%;
  color: #fff !important;
  text-align: left;
}

.aside .block__p {
  font-size: 16px;
  color: #fff !important;
}

.aside .butn {
  padding: 10px 20px;
  text-transform: lowercase;
  color: #fff !important;
  font-weight: 500;
}

.aside .butn:hover {
  color: #02A4FE !important;
  background-color: #fff;
  box-shadow: 0 0 10px #02A4FE;
}

.rside {
  width: 41%;
  height: fit-content;
  padding: 20px 15px;
  background-color: #fff;
  text-align: left;
}

.form {
  margin-bottom: 15px;
}

.form__input {
  margin: 18px 0;
  display: flex;
  border-radius: 5px;
}

.block__label {
  width: 33%;
  padding: 15px 10px;
  padding-right: 0px;
  border: 1px solid #ECECEC;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.block__input {
  width: 67%;
  height: fit-content;
  padding: 15px 33px;
  padding-right: 0;
  font-size: inherit;
  border: 1px solid #ECECEC;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.block__input::placeholder {
  color: #C9C9C9;
}

.green__btn {
  width: 100%;
  padding: 10px;
  font-size: 20px !important;
  font-weight: 600;
  border-radius: 5px !important;
  color: #fff;
  font-size: 17px;
  border: 0 !important;

}

.green__btn:hover {
  cursor: pointer;
  color: #02A4FE;
  background: #fff;
  box-shadow: 0 0 10px #02A4FE;
}



.section {
  width: 100%;
  margin: 50px 0;
}

.section:first-child {
  margin: 20px 0 50px;
}

.head__p {
  font-size: 16px;
  color: #48526b !important
}

.blocks {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

.block {
  width: 30%;
  padding: 25px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: #fff;
  opacity: .9;
  transition: all .2s ease;
}

.block:hover {
  opacity: 1;
  transform: scale(1.01);
}

.block .block__p {
  margin: 16px 0;
}

/*=============================*/
/* END OF SECOND BLOCK */


/* THIRD BLOCK */
/* PART 1*/

.carsl {
  height: 165px;
}

.parts__block {
  border-radius: 10px
}

.parts {
  margin: 35px 0;
  display: flex;
  justify-content: space-evenly;
}

.part {
  color: #fff !important;
  padding: 15px !important;
  font-size: 16px;
  background-color: transparent;
  border: 0;
  font-weight: 600;
  position: relative;
}

.part:hover {
  color: #3E3E3E !important;
}

.drop {
  height: 0;
  margin-top: 10px;
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  transition: all .3s ease;
  text-align: left;
  border-radius: 10px;
  width: 190px;
  padding:0 10px;
  left: -35%;
}

.drop__chevr {
  width: 5px;
  padding: 5px 5px;
  position: absolute;
  top: -5px;
  left: 50%;
  background-color: #fff;
  transform: rotate(45deg);
}

.drop__active {
  height: fit-content;
  display: block;
  padding: 5px 10px;
  overflow: visible;
  z-index: 5;
}

.drop__h5 {
  color: #48526b !important;
  font-weight: 600;
  display: flex;
  font-size: 17px;
  justify-content: space-between;
  align-items: baseline;
}

.drop__span {
  font-size: 16px;
  color: #02A4FE;
}

.drop__time {
  font-size: 12px;
  color: #aaa;
}

.study__start {
  width: 25%;
  display: flex;
  text-align: left;
}

.line {
  width: 4px;
  height: 110px;
  background-color: #02A4FE;
  border-radius: 3px;
}

.line:last-child {
  width: 7px;
}

.study__text {
  margin: 0 13px;
}

.study__text .block__h4 {
  margin-top: 8px;
  margin-bottom: 0;
  color: #707070;
}

.study__text .block__p {
  margin-top: 5px;
  font-size: 13px;
}

.study__end {
  width: 22%;
  display: flex;
  text-align: right;
}

/* PART 2*/

.section__blocks {
  margin: 30px 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 30px;
  text-align: left;
  background-color: #fff;
}

.section:last-child {
  margin-bottom: 0;
}

.study__block {
  width: 29%;
  margin: 20px 0;
}

.study__block .block__h4 {
  margin-top: 10px;
}

.study__block .block__p {
  font-size: 14px;
  line-height: 1.5em;
}

.study__block2 {
  width: 47%;
  display: flex;
  align-items: center;
}

.study__block2 div {
  margin: 0 30px;
}
/*=============================*/
/* END OF THIRD BLOCK */


/* FOURTH BLOCK */

.lesson__blocks {
  display: flex;
  justify-content: space-between;
}

.lesson__block {
  width: 22%;
  padding: 15px 15px 0px;
  border-radius: 15px;
  background-color: #fff;
  transition: all .2s ease;
  opacity: .9;
}

.lesson__block:hover {
  transform: scale(1.01);
  opacity: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.cost {
  width: 51%;
  margin: 60px;
  margin-left: 100px;
  margin-right: 50px;
}

.cost .block__h4 {
  line-height: 1.7em !important;
}

.cost .block__h1 {
  font-size: 75px !important;
  margin: 15px 0 !important;
}

.blue__btn {
  font-size: 18px !important;
  background-color: #02A4FE;
  border-radius: 5px;
  border: 1px solid #fff;
  animation: shadow 1s linear infinite;
}

@keyframes shadow {
  from {
    color: #02A4FE !important;
    background-color: #fff;
    box-shadow: 0 0 10px #02A4FE;
    border: 1px solid #02A4FE;
  }
}

.blue__btn:hover {
  color: #02A4FE !important;
  background-color: #fff;
  box-shadow: 0 0 10px #02A4FE;
  border: 1px solid #02A4FE;
}


/*=============================*/
/* END OF FOURTH BLOCK */

.question {
  width: 86%;
  margin: 40px 0 35px;
  padding: 10px 20px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  background-color: #fff;
}

.quest__chevr {
  width: 15px;
  height: 15px;
  bottom: -8px;
  left: 48%;
  transform: rotate(45deg);
  box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
  background-color: #fff;
}

.carousel {
  width: 95%;
  margin: 40px auto;
}

.carousel__item {
  padding: 20px 40px;
  border-radius: 15px;
  background-color: #fff !important;
}

.all__items {
  padding: 10px 60px !important;
  border: 0 !important;
  background: #02A4FE !important;
}

.all__items:last-child {
  padding: 10px 95px !important;
}

.all__items:hover {
  color: #000 !important;
  text-decoration: none !important;
}

.fs_70 {
  font-size: 70px !important;
  margin-right: 10px !important;
  margin-bottom: 0 !important;
}

.btn__cost {
  margin-right: 70px;
  font-size: 25px !important;
  font-weight: 600 !important;
  color: #02A4FE !important;
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 3px solid #fff !important;
  transition: all .2s linear;
  background-color: #fff !important;
}

.btn__cost:hover {
  color: #02A4FE !important;
  border-bottom: 3px solid #02A4FE !important;
}

.btn__cost:focus {
  color: #02A4FE !important;
  border-bottom: 3px solid #02A4FE !important;
}

.form__input:focus-within {
  border-color: #02A4FE !important;
  box-shadow: 0 0 5px #02A4FE !important;
}

.btn__pay {
  margin: 0;
  padding: 0 !important;
  width: 327px;
  height: 45px;
  border: 1px solid #fff !important;
  background-color: #fff !important;
  transition: all .2s linear;
}

.btn__pay:hover {
  border: 1px solid #02A4FE !important;
}

.btn__pay:focus {
  border: 1px solid #02A4FE !important;
}

.recommend .block__p {
  line-height: 1.6em !important;
}

.green__link {
  font-size: 14px !important;
  color:  #4a4ae0 !important;
  text-decoration: underline !important;
}


/* Block 10 */



/* Block 10 */


.bg-d {
  background-color: #000 !important;
}

.foot-h4 {
  color: #fff !important;
}

.foot-p {
  color: #919191 !important;
}

.foot-a:hover {
  color: #FE4C1C !important;
}

.btn-subsc {
  color: #fff !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border: 1px solid #fff !important;
}

.soc {
  margin-right: 10px;
  padding: 7px 12.5px;
  font-size: 18px !important;
  color: #fff !important;
  border-radius: 50%;
  background-color: #0011FF !important;
}
@media(min-width: 1660px) and (max-width: 2560px) {
  .block__body {
    background-size: 2560px;
  }

  .container {
    max-width: 85% !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }

  .block__h1 {
    margin-bottom: 0 !important;
    font-size: 62px !important;
  }

  .block__h2 {
    font-size: 54px !important;
  }

  .block__h3 {
    font-size: 47px !important;
  }

  .block__h4 {
    font-size: 35px !important;
  }

  .block__h5 {
    font-size: 26px !important;
  }

  .block__a {
    font-size: 24px !important;
  }

  .block__p {
    font-size: 24px !important;
  }

  .logo {
    width: 341px;
  }

  .naw__down {
    padding: 18px 15px !important;
  }

  .aside {
    width: 54%;
  }

  .rside {
    width: 45%;
  }

  .form__input, .green__btn, .all__items, .blue__btn  {
    font-size: 24px !important;
  }

  .head__p, .head__h1 {
    color: grey !important;
  }

  .gr__chevr {
    margin-top: 120px;
    font-size: 22px;
  }

  .block {
    width: 31%;
    padding: 20px !important;
  }

  .part {
    padding: 15px 34px;
  }

  .study__start {
    width: 48%;
  }

  .study__end {
    width: 32%;
  }

  .line {
    height: 130px;
  }

  .programer {
    width: 400px;
  }

  .car_rt {
    margin-left: 60px !important;
  }


  .phone {
    width: 89% !important;
  }

  .visa_logo {
    width: 26%;
  }

  .paypal_logo{
    width: 30%;
  }



  .green__link {
    font-size: inherit !important;
  }

  .footer {
    padding: 30px 0 !important;
  }

}

@media(min-width: 1440px) and (max-width: 1660px) {
  .block__body {
    background-size: 1660px;
  }

  .container {
    max-width: 85% !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }

  .block__h1 {
    font-size: 49px !important;
  }

  .block__h2 {
    font-size: 43px !important;
  }

  .block__h3 {
    font-size: 36px !important;
  }

  .block__h4 {
    font-size: 29px !important;
  }

  .block__h5 {
    font-size: 23px !important;
  }

  .block__a {
    font-size: 20px !important;
  }

  .block__p {
    font-size: 20px !important;
  }

  .logo {
    width: 300px;
  }

  .naw__down {
    padding: 15px 8px !important;
  }

  .aside {
    width: 54%;
  }

  .rside {
    width: 45%;
  }

  .form__input {
    font-size: 20px !important;
  }

  .green__btn {
    font-size: 20px !important;
  }

  .gr__chevr {
    margin-top: 120px;
    font-size: 22px;
  }

  .block {
    width: 31%;
    padding: 20px !important;
  }

  .part {
    padding: 15px 34px;
  }

  .study__start {
    width: 48%;
  }

  .study__end {
    width: 32%;
  }

  .line {
    height: 130px;
  }

  .programer {
    width: 350px;
  }

  .phone {
    width: 101% !important;
  }

  .visa_logo {
    width: 26%;
  }

  .paypal_logo{
    width: 30%;
  }


  .green__link {
    font-size: inherit !important;
  }

  .footer {
    padding: 30px 0 !important;
  }

}

@media(min-width: 1367px) and (max-width: 1440px) {
  .block__body {
    background-size: 1440px;
  }

  .block__h1 {
    font-size: 45px !important;
  }

  .block__h2 {
    font-size: 38px !important;
  }

  .block__h3 {
    font-size: 33px !important;
  }

  .block__h4 {
    font-size: 27px !important;
  }

  .block__h5 {
    font-size: 22px !important;
  }

  .block__a {
    font-size: 18px !important;
  }

  .block__p {
    font-size: 18px !important;
  }

  .logo {
    width: 286px;
  }

  .naw__down {
    padding: 15px 8px !important;
  }

  .aside {
    width: 54%;
  }

  .rside {
    width: 45%;
  }

  .block {
    width: 31%;
    padding: 20px 10px !important;
  }

  .part {
    padding: 15px 26px;
  }

  .study__start {
    width: 48%;
  }

  .study__end {
    width: 32%;
  }

  .line {
    height: 130px;
  }

  .green__link {
    font-size: inherit !important;
  }


}

@media(max-width: 1350px) {
  .agitat {
    margin-left: 0 !important;
    width: 100% !important;
  }
}

@media (max-width: 1200px) {

  .block__h1 {
    margin-bottom: 30px !important;
  }

  .block__p {
    margin: 10px 0 !important;
  }

  .asife {
    width: 53%;
  }

  .rside {
    width: 47%;
  }

  .block {
    padding: 50px 40px 10px;
  }

  .part {
    padding: 15px 25px;
  }

  .study__text .block__h4{
    margin-top: 0px;
  }

  .study__text .block__p {
    margin-top: 5px !important;
  }

  .lesson__block {
    width: 24%;
    padding: 24px;
  }

  .stydy_img {
    width: 280px;
  }

  .st_pr_img {
    width: 460px;
  }

  .aft_st_img {
    width: 400px;
  }

  .fs_70 {
    font-size: 60px !important;
  }

  .phone {
    width: 137% !important;
  }
}

@media(max-width: 1110px) {

  .head {
    padding: 4px 0 !important;
  }

  .nav__down {
    margin-left: 5px !important;
    margin-right: 0 !important;
    padding: 5px !important;
  }


  .block {
    padding: 50px 15px 10px;
  }

  .gr__chevr {
    margin-top: 10px !important;
  }

  .projects__block {
    width: 100% !important;
  }
}

@media (max-width: 990px) {

  .container {
    width: 100% !important;
  }

  .section {
    margin: 25px 0;
  }

  .section__blocks {
    padding: 15px;
  }

  /* HEADER */
  /* ========================================== */
  .logo {
    width: 220px !important;
  }

  .burger {
    width: 100% !important;
    justify-content: space-between;
    flex-direction: row !important;
  }

  .about__Us {
    display: block !important;
  }

  .head_up {
    padding: 0 !important;
  }

  .head_up:last-child {
    margin-top: 0 !important;
    padding: 0 !important;
    border: 0 !important;
  }

  .social {
    margin-right: 30px;
  }

  .head {
    width: auto !important;
    margin-right: 20px !important;
    padding:10px 20px !important;
    text-align: right;
  }

  .aside {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .rside {
    width: 70%;
    margin-top: 30px;
  }
  /* HEADER */
  /* ========================================== */

  .blocks {
    flex-wrap: wrap;
  }

  .block {
    width: 32% !important;
  }

  .parts {
    margin: 20px 0;
    padding: 13px 0;
  }

  .part {
    padding: 13px;
  }

  .study__start {
    width: 50%;
  }

  .study__end {
    width: 37%;
  }

  .lesson__block {
    padding: 15px 10px 5px;
  }

  .cost {
    width: 100%;
    margin: 0;
    margin-left: 10px;
  }

  .check__course {
    padding: 10px 0;
  }

  .proc {
    text-align: center;
  }

  .proc1, .proc2 {
    width: 100% !important;
  }

  .st_pr_img {
    width: 350px;
  }

  .carousel {
    width: 100%;
  }

  .carousel__item {
    padding: 5px 15px;
  }

  .avito_logo {
    width: 250px;
  }

  .node_logo {
    width: 225px;
  }

  .progres {
    width: 60% !important;
  }

  .aft_st_img {
    margin-left: 10px !important;
    width: 282px;
  }

  .fs_70 {
    font-size: 39px !important;
  }

  .btn__cost {
    font-size: 23px !important;
    margin-right: 25px;
  }

  .btn__cost:last-child {
    margin: 0;
  }

  .form {
    width: 100% !important;
    text-align: center;
  }

  .phone {
    width: 92% !important;
  }

  .btn__pay {
    height: 40px;
  }

  .visa_logo {
    width: 22%;
  }

  .paypal_logo {
    width: 25%;
  }

  .recommend {
    width: 60% !important;
  }

  .foot__item {
    width: 45% !important;
    margin-bottom: 15px;
  }

  .blue__btn {
    padding: 7px 20px !important;
    margin-bottom: 5px;
  }
}
@media (max-width: 770px) {

  .header {
    padding-top: 10px;
  }

  .section {
    margin: 10px 0;
  }

  .w1 {
    width: 100% !important;
    text-align: center !important;
    margin: 0 !important;
  }

  .aside, .rside {
    width: 90% !important;
  }

  .blocks {
    margin: 20px 0;
    justify-content: center !important;
  }

  .block {
    width: 47% !important;
    margin: 0 7px 20px;
  }

  .parts {
    padding: 7px 0;
    flex-wrap: wrap;
    justify-content: left !important;
  }

  .part {
    padding: 6px 40px !important;
  }

  .drop {
    left: 0%;
  }

  .drop__chevr {
    left: 35%;
  }

  .study__block {
    width: 40%;
  }

  .study__block2 {
    width: 100%;
  }

  .lesson__blocks {
    flex-wrap: wrap;

  }

  .lesson__block {
    width: 48%;
    margin-bottom: 20px;
  }

  .cost_img {
    margin: 0 auto !important;
  }

  .stydy_img {
    width: 60%;
  }

  .cost {
    width: 100%;
  }

  .nastav {
    width: 100% !important;
  }

  .avito_logo, .node_logo {
    width: 180px;
  }

  .node_logo {
    margin-right: 0 !important;
  }

  .fs_70 {
    font-size: 40px !important;
    margin-bottom: 20px !important;
  }

  .span__month {
    width: 60%;
    margin-left: 0 !important;
  }

  .span__month .block__p {
    margin-top: 0 !important;
  }

  .foot__head {
    justify-content: center !important;
  }

  .input-group {
    margin-top: 10px !important;
  }

  .foot_foot {
    margin-top: 10px !important;
    margin-left: 20px;
  }
}

@media (max-width: 550px) {

  .block__h1 {
    font-size: 30px !important;
  }

  .block__h2 {
    font-size: 27px !important;
  }

  .block__h3 {
    font-size: 23px !important;
  }

  .block__h4 {
    font-size: 18px !important;
  }

  .block__h5 {
    font-size: 16px !important;
  }

  .block__p {
    font-size: 14px !important;
    margin: 8px 0 !important;
  }

  .wsm1 {
    width: 100% !important;
  }

  .aside, .rside {
    width: 100% !important;
  }

  .form__input {
    width: 100%;
    flex-wrap: wrap;
    font-size: 14px !important;
  }

  .block__label {
    width: 100%;
    padding: 10px 0 !important;
    border-right: 1px solid #ECECEC !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .block__input {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    padding: 10px 10px !important;
  }

  input::placeholder {
    text-align: center;
  }

  .green__btn {
    padding: 5px;
  }

  .programer {
    width: 200px;
  }

  .block {
    width: 100% !important;
  }

  .parts {
    flex-wrap: wrap;
  }

  .part {
    padding: 6px 14px
  }

  .line {
    height: 115px;
  }

  .study__block {
    width: 100%;
  }

  .lesson__block {
    width: 100%;
  }

  .cost .block__h1 {
    font-size: 40px !important;
  }

  .check__course {
    text-align: center;
  }

  .node_logo {
    width: 100px;
  }

  .all__items:last-child {
    padding: 10px 70px !important;
  }

  .phone {
    width: 168% !important;
  }

  .teacher {
    width: 200px !important;
  }
}

@media (max-width: 400px) {
  .part {
    padding: 6px 0 !important;
    padding-left: 50px !important;
}
}