.subjects__item {
    width: 260px;
    margin: 0 20px;
    height: fit-content;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition: all .2s linear;
}

.subjects__item:hover {
    transform: translateY(-10px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.subject__img {
    margin: 46px auto;
}

.heart__icon {
    font-size: 22px;
}

.subjects__text {
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
}

.subject__li {
    color:  #4f56f5 !important;
}

.subject__btn {
    color: #fff;
    padding: 8px 60px !important;
    border-radius: 5px;
}

.collapse__div {
    margin-top: 8px;
    position: fixed;
    height: 0;
    overflow: hidden;
    transition: all .2s linear;
    width: 100%;
    background-color: #F8F9FA;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .3);

}

.subjects__item:hover .collapse__div {
    height: 139px;
    transition: all .2s linear;
    z-index: 3;
}