
.study__types__item {
    width: 49%;
    padding: 21px;
    padding-bottom: 16px;
    border-radius: 5px;
}

.st__head{
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 61px;
}

.st__p {
    margin-top: 9px;
    margin-bottom: 41px;
    font-size: 14px;
    color: #e5e5e5;
}

.study__types__link {
    padding: 5px 9px;
    border-radius: 5px;
    color: #4f56f5;
    background-color: #fff;
    font-weight: 700;
    animation: text-shadow 1s linear infinite;
}

@keyframes text-shadow {
    from {
        text-shadow: 0 0 7px #fff;
        box-shadow: 0 0 10px #fff;
        color: #fff;
        background-color: #4f56f5;
    }
}

.study__types__link:hover {
    color: #fff;
    text-shadow: 0 0 7px #fff;
    box-shadow: 0 0 10px #fff;
    background-color: #4f56f5;
}