.container-head{
  font-size:20px;
  height:30px;
  margin:23px 0;
  display:flex;
  align-items:center;
  color:#303956;
  position:relative;

}

.container-title{
  display:inline-block;
  padding-right:12px;
  text-transform:uppercase;
  position:absolute;
}

.line{
  width:100%;
  height:1px;
  display:block;
  background-color:#dedede;
}