.slider{
  display:flex;
  width:100%;
}

.slider-desc-container{
  width:30%;
  position:relative;
}

.slider-texts{
  height:250px;
  overflow:hidden;
  position:relative;
}

.slider-text{
  position:absolute;
  visibility:hidden;
  top:0;
  left:0;
}

.navigation{
  position:absolute;
  display:flex;
  width:100%;
  justify-content:space-between;
  bottom:30px;
}

.activeImg{
 visibility:visible !important;
}

.activeText{
 visibility:visible;
}

.slider-indicators .indicator,
.slider-switchers a{
  display:inline-block;
  width:12px;
  height:12px;
}

.slider-indicators .indicator{
  margin-right:11px;
  background-color:#48526b;
  border-radius:50%;
  cursor:pointer;
}

.slider-switchers a{
  background-size:cover;
}

.slider-switchers .prev{
  background-image:url(../../../svg/prev.svg);
  margin-right:11px;
}

.slider-switchers .next{
  background-image:url(../../../svg/prev.svg);
  transform:rotate(180deg);
}

.actiVe{
  background-color:#4f56f5 !important;
}

.slider-indicators .indicator:hover{
  background-color:#4f56f5 !important;
}

.slider-texts img{
  margin:25px 0;
}

.slider-img-container{
  width:70%;
  height:300px;
  position:relative;
}

.slider-img{
  width:80%;
  height:250px;
  position:absolute;
  right:0;
  left:0;
  margin:0 auto;
  top:0;
  visibility:hidden;
}

@media(max-width:1000px){
  .slider{
    flex-direction:column;
  }

  .slider-desc-container{
    width:100%;
    height:150px;
  }

  .slider-img-container{
    width:100%;
  }

  .navigation{
    bottom:-300px;
    justify-content:center;
  }
  
  .slider-texts{
    height:150px;
    text-align:center;
  }

  .slider-switchers .prev{
    position: absolute;
    top: -200px;
    left: 10px;
    width: 20px;
    height: 25px;
  }

  .slider-switchers{
    z-index:1;
  }

  .slider-indicators {
    display: none;
  }

  .slider-switchers .next{
    position: absolute;
    top: -200px;
    right: 10px;
    width: 20px;
    height: 25px;
  }
}

@media(max-width:800px){
  .navigation{
    bottom:-280px;
    justify-content:center;
  }

  .slider-switchers .next, .slider-switchers .prev{
    top: -170px;
  }

}

@media(max-width:500px){
  .navigation{
    bottom:-230px;
  }

  .slider-switchers .next, .slider-switchers .prev{
    top: -120px;
    width: 17px;
    height: 20px;
  }
}