a ,button{
  text-decoration: none !important;
  transition: all .2s linear;
}

button:focus{
  outline: none;
}

.bg__blue {
  background-color: #4f56f5;
}

.col__light__blue {
  color: #4f56f5;
}

.col__blue {
  color: #303956;
}

.col__green {
  color: #07C400
}

.bg__green {
  background-color: #07C400;
}

.col__gold {
  color: #FF8800;
}

.bg__gold {
  background-color: #FF8800;
}

.col__56 {
  color: #565656 !important;
}

.col__48 {
  color: #48526b !important;
}

.bg__48 {
  background-color: #48526b !important;
}


.container {
  width: 92% !important;
  max-width: 100% !important;
  padding: 0 !important;
}

.hideElem{
  display:none !important;
}

.closeModal{
  cursor:pointer;
  display:flex;
  flex-direction:row-reverse;
}

.closeModal-container{
  position:relative;
  width:50px;
  height:50px;
  padding:5px;
  box-sizing:border-box;
  background-color:rgba(0, 0, 0, 0.5);
}

.closeModal-container:hover{
  background-color:rgba(0, 0, 0, 0.8);
}

.crossLine{
  width:80%;
  height:3px;
  background-color:#fff;
  border-radius:5px;
  transform-origin:center;
  position:absolute;
  top:calc(50% - 1.5px) ;
  left:0;
  right:0;
  margin:0 auto;
}

.crossLine__right-to-bottom{
  transform:rotate(45deg);
}

.crossLine__left-to-bottom{
  transform:rotate(-45deg);
}

.modalReg{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
}

.modalReg__img-bg{
  background-image:url(../src/img/reg.jpg);
  background-size:cover;
  background-color:#4f56f5;
  background-blend-mode:soft-light;
  overflow-y: scroll;
}

.modalReg__opacity-bg{
  background:none;
  background-color:rgba(0, 0, 0, 0.5);
  z-index:3001;
  overflow-y: scroll;
}

.centerElement{
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
}

.regWrapper{
  width:370px;
  line-height:100%;
  background-color:#fff;
  border:1px solid rgba(0, 0, 0, 0.08);
  border-radius:10px;
  margin:auto 0;
}

.profile-buttons{
  height:43px;
  line-height:43px;
  border-radius:3px;
  font-weight:500;
  display:block;
  background-color:#4f56f5;
  text-align:center;
  color:#fff;
  margin-bottom:23px;
  border:none;
  text-transform:uppercase;
  width:100%;

  -webkit-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -o-transition:all .2s linear;
}

.profile-buttons:hover{
  color:#fff !important;
  background-color:#757CF5;
}

.panel-offsets{
  margin-bottom:23px;
  height:fit-content;
  position:relative;
  overflow:hidden;
}

.formHeader,
.formFooter{
  text-align:center;
  height:60px;
  line-height:60px;
  margin:0;
}

.formHeader{
  text-transform:uppercase;
  font-size:20px;
  border-bottom:1px solid rgba(0, 0, 0, 0.08); 
} 

.formFooter{
  font-size:12px;
  border-top:1px solid rgba(0, 0, 0, 0.08);
}

.formFooter a{
  color:#303956;
  text-decoration:none;
}

.regForm{
  box-sizing: border-box;
  padding:40px 30px 60px 30px;
}


.inputs,
.subBtn{
  width:100%;
  height:45px;
  border-radius:5px;
}

.subBtn{
  background-color:#4f56f5;
  color:#fff;
  text-transform:uppercase;
  border:none;
  outline:none;
  margin-top:26px;
  cursor:pointer;
}

.inputs{
  border:1px solid rgba(0, 0, 0, 0.08);
  margin-bottom:15px;
  display:flex;
  align-items:center;
  text-align:left !important;
}

.inputs input{
  height:26px;
  width:80%;
  padding-left:17px;
  border:none;
  outline:none;
}

.inputs .inputIcon{
  width:36px;
  height:36px;
  border-right:1px solid rgba(0, 0, 0, 0.08);
  background-repeat:no-repeat;
  background-position:center center;
}

.form label{
  display:inline-block;
  margin-bottom:6px;
  text-transform:uppercase;
  font-size:14px;
  color:#303956;
}

.form div:nth-of-type(1) span{
  background-image:url(./svg/Icon_awesome-user.svg);
}

.form div:nth-of-type(2) span{
  background-image:url(./svg/Icon_awesome-phone-alt.svg);
}

.form div:nth-of-type(3) span{
  background-image:url(./svg/Icon_awesome-unlock.svg);
}

.form div:nth-of-type(4) span{
  background-image:url(./svg/Icon_awesome-unlock.svg);
}


.forgotPswd{
  margin-top:16px;
  font-size:12px;
  color:#303956;
  display:block;
  text-align:center;
}

.form p,
.message{
  font-size:12px;
  color:#8b8d92;
}

.message{
  padding:9px 97px 11px 19px;
  margin-bottom:22px;
  border:1px solid #ffe3c3;
  background-color: #fefbf5;
  line-height:21px;
  border-radius:5px;
  position:relative;
}

.close{
  position:absolute;
  font-size:15px;
  top:5px;
  width:10px;
  height:10px;
  right:10px;
  color:#999;
  cursor:pointer;
}
.panel>div{
  background-color:#fff;
  margin-bottom:17px;
}

.panel h1,
.panel a{
  text-transform:uppercase;
}

.panel h1{
  text-align:center;
  color:#303956;
  padding:11px 0;
  margin:0;
  border-bottom:1px solid rgba(0, 0, 0, 0.11);
  font-size:20px;
  font-weight:300;  
}

.panel-content{
  padding:16px 26px;
}

.fa-eye__grey{
  color:#CACACA;
  margin-right:5px;
}

.fa-eye__grey:hover{
  color:#a7a6a6;
}

.col__gold {
  color: #FF8800;
}

.after__header{
  transition: all .2s linear;
  margin-top: 5.5%;
  margin-left: 17%;
}


/* RESPONSIVE */

/*=======================================*/

@media (min-width: 2057px) and (max-width: 4096px) {
  .after__header {
    margin-top: 0;
  }
}


@media (min-width: 1661px) and (max-width: 2056px) {
  .after__header {
    margin-top: 3.7%;
  }
}

@media (min-width: 1441px) and (max-width: 1660px) {
  .after__header {
    margin-top: 5%;
  }
}

@media (min-width: 1367px) and (max-width: 1440px) {

}

@media (min-width: 1200px){
  .post-blog{
    width:400px;
    /* height:450px; */
  }

  .post-blog__img{
    height:200px;
  }

  .post-blog:hover .post-blog__img{
    height:190px;
  }
}

@media (max-width: 1365px) {
    

}

@media (max-width: 1200px) {

}

@media (max-width: 1150px) {

  /* ASIDE */

  

  /* IT AKADEMIYA */

  .certificate__items {
    flex-wrap: wrap;
  }

  .certificate__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .course-items {
    flex-wrap: wrap;
  }

  .course__item {
    width: 26%;
    margin: 10px;
  }

  .course__item {
    width: 40%;
  }

  .form-group, .check__certif__btn {
    width: 48%;
  }

  .search-box {
    width: 100%;
  }

  .certificate-item__img {
    width: 100%;
    height: 500px;
  }

  /* IT AKADEMIYA */


    .aside {
        padding: 0 7px;
    }

    .after__header {
      margin-left: 17%;
    }
}

@media (max-width: 1050px) {
  .tasks {
    width: 100% !important;
  }

  /* IT AKADEMIYA */

  .achievements-item {
    width: 45%;
  }

  
  /* IT AKADEMIYA */
}

@media (max-width: 990px) {

  /* ASIDE */

  .aside {
    width: 40%;
    padding: 6px 20px;
    transform: translateX(-100%);
  }

  .contAside {
    width: 60%;
  }

  /* RSIDE */

  .forum-rside {
    flex-wrap: wrap;
  }

  /* HEADER */

  .main, .header {
    width: 100%;
  }

  .after__header {
    margin-left: 0;
  }
  /* IT AKADEMIYA */

  .certificate__item:last-child {
    margin-bottom: 0;
  }
  /* IT AKADEMIYA */


  /* ONLINE REPETITOR */

  .advice-item {
    flex-wrap: wrap;
  }

  .advice-main {
    width: 70%;
  }

  .advice-details {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  /* ONLINE REPETITOR */

  /* FOOTER */

  .footer {
    margin-left: 0;
  }


}

@media (max-width: 770px) {
    
    .header {
        padding: 4px 1px;
    }

    .header-item {
      flex-wrap: wrap;
    }

    .burger-menu {
      width: 100%;
    }

    .header-nav-menu {
      display: block;
    }

    .after__header {
      margin-top: 153px;
    }

    /* BANNER STYLES */

    .lecture {
      padding: 15px 0;
    }

    .lecture__h1 { 
      width: 90%;
      font-size: 40px;
    }

    .lecture__p {
      width: 100%;
    }

    .wh__btn {
      padding: 6px 54px;
      font-size: 18px;
    }

    /* BANNER STYLES */

    /* IT AKADEMIYA */

      .study__types__items {
        flex-wrap: wrap;
      }

      .study__types__item {
        margin-bottom: 15px;
        width: 100%;
      }

      .st__head {
        margin: 0 !important;
      }

      .st__p {
        margin: 0;
        margin-bottom: 10px;
      }

      .sponsors-item {
        text-align: center;
        width: 45%;
      }

    /* IT AKADEMIYA */



    /* ONLINE REPETITOR */

    .advice-main {
      width: 50%;
      text-align: right;
    }


    /* ONLINE REPETITOR */

    /* SCHOOL STYLES */

    .subjects__item {
      width: 215px;
    }


    /* SCHOOL STYLES */

    .footer__item {
      width: 100%;
    }

    .footer__text:last-child {
      text-align: right;
    }

    .footer__social {
      width: 100%;
      justify-content: flex-end;
    }

    /* PROFILE STYLES */

    .profile{
      flex-direction:column-reverse;
    }

    .user-panel{
      width:80%;
      margin:0 auto;
      border:none;
    }

    .panel-offsets img{
      height:300px;
    }
}

@media (max-width: 730px) {
  .tasks {
    flex-wrap: wrap;
  }

  .task-item__img {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 690px) {

  .aside {
    width: 55%;
  }

  .contAside {
    width: 45%;
  }

  .subjects__item {
    width: 195px;
  }

  /* ONLAY REPETITOR */

  .advice-details__time {
    font-size: 16px;
  }

  .advice-details__price {
    font-size: 22px;
  }

  .advice-details__link {
    font-size: 11px;
  }
  /* ONLAY REPETITOR */

}

@media (max-width: 550px) {

  /* IT AKADEMIYA */


  .course__item {
    width: 100%;
  }

  .certificate__form {
    flex-wrap: wrap;
  }

  .certificate-item__img {
    height: 350px;
  }

  .form-group {
    width: 100%;
  }

  .check__certif__btn {
    width: 100%;
  }

  .sponsors {
    padding-bottom: 10px !important;
  }

  .sponsors-item {
    width: 100%;
    margin-bottom: 15px !important;
  }

  /* IT AKADEMIYA */

  /* ONLAY REPETITOR */

  .advice-details {
    flex-direction: column;
  }
  /* ONLAY REPETITOR */
  
  ::-webkit-input-placeholder{
    text-align:left !important;
    /* color:red !important; */
  }
    
}


@media(max-width:535px){

  .post-blog{
    width:80%;
    height:fit-content;
    padding-bottom:20px;
  }

}

@media (max-width: 480px) {

  /* ASIDE */

  .modalReg{
    background:none;
    background-color:#fff;
  }

  .regWrapper{
    /* margin-top:40px; */
    width:100%;
    border:none;
  }

  .aside {
    width: 70%;
    padding: 0px 6px;
  }

  .contAside {
    width: 30%;
  }

  .menu__item {
    margin-left: 6px;
  }

  /* ONLAYN REPETITOR */

  .advice-main {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 350px) {

  .post-blog{
    width:320px;
  }

  .after__header {
    margin-top: 176px;

  }

  /* IT AKADEMIYA */

  .certificate-item__img {
    height: 250px;
  }

  /* IT AKADEMIYA */
}